@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Material, Arial;
}

a.navlink {
    @apply text-lg text-white font-normal px-6 hover:underline underline-offset-8 decoration-2 hover:text-slate-200;
}

a {
    @apply text-secondary-800;
    @apply hover:text-secondary-600;
}

.leaflet-container {
    height: 70vh;
    width: 100%;
}

div {
    box-sizing: border-box;
}

.slider-min {
    @apply block w-1/4 box-border min-w-12;
}

.multi-range-slider {
    @apply block w-full box-border border-0 shadow-none !important;
}

.bar-inner {
    @apply bg-secondary-800 shadow-none border-0 !important;
}

.card-button {
    @apply mx-2 w-6 h-6 box-border inline-block bg-white border-2 p-0 rounded-full text-center font-bold text-black hover:bg-white hover:border-black;
}