@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Material, Arial;
}

a.navlink {
    @apply text-lg text-white font-normal px-6 hover:underline underline-offset-8 decoration-2 hover:text-slate-200;
}

a {
    @apply text-secondary-800;
    @apply hover:text-secondary-600;
}

.leaflet-container {
    height: 70vh;
    width: 100%;
}

div {
    box-sizing: border-box;
}